@import '_colors.less';

.card{
    width: 392px !important;
    height: 500px;
    margin-left: 1em;
    white-space: normal;
    
    p{
        font-size: initial;
    }
}

.badge{
    margin-left: 1em;
    margin-top: 1em;
    background-color: @roxo;
    color: @branco;
    font-size: 1em;
    font-weight: normal;
    padding: 0.5em;
}


.card-img-top{
    margin-top: 1em;
    max-width: 100%;
    height: 200px;
    background-size: 100% 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.btn{
    border-radius: 0;
    padding: 1em 0;
}