#site-footer{
    border-top: solid thin;
    margin-top: 150px;
    padding-top: 30px;
}

.footer-credits{
    p{
        display: inline-block;
        margin-left: 1em;
    }

}

.a{
    display: inline-block;
    margin: auto 30px;
    color: @cinza-escuro;

    &:hover{
        color:@cinza-claro;
    }
}