.form-title{
    margin: 1em 0;
    font-size: 50px;
}

#formulario{
    margin-bottom: 100px;
    
    .form-control{
        border-radius: 0;
        padding: 1.5em;
        margin-bottom: 20px;
    }

    #envia{
        background-color: @cinza-claro;
        color: @branco;
        padding: 15px 100px;
    }
}

