@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900&display=swap');
@import url('//db.onlinewebfonts.com/c/f16b07c3fd5b4fd150cc55daa3a12428?family=Bebas+Neue+Book');

@branco: #ffffff;
@cinza-escuro: #333333;
@cinza-claro: #666666;

body{
    font-family: 'Lato', sans-serif;
}

h2{
    font-family: "Bebas Neue Book";
    background-image: url('../images/bg_moustache.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: @branco;
    font-style: italic;
    font-weight: 500;
    font-size: 3.6vw;
    text-transform: uppercase;
    letter-spacing: 40px;
    padding: 160px 0;
    
    p{
        margin-left: -100px;
    }

    #p2{
        margin-left: 160px;;
    }

    #logo{
        max-width: 400px;
        margin: 0 auto;
        display: block;
        margin-bottom: 70px;
    }
}
