nav{
    background-color: @cinza-escuro;
}

.page_item{
    display: inline-block;

    margin-right: 15px;
    a{
        color: @branco;
        padding: 9px 14px;
        font-weight: 600;

        &:hover{
            color: @cinza-claro;
            text-decoration: none;
        }
    }
}

.search-form{
    margin-top: 5px;
}

